@model ShauliBlogMvc.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


    <h3> <u> Post: @Html.DisplayFor(model => model.Post.Title), Comment: @Html.DisplayFor(model => model.Title) </u> </h3>

<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </td>

        <td>
            @Html.DisplayFor(model => model.Author.FirstName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Author.LastName)
        </td>

        <td>
            @Html.DisplayFor(model => model.Author.LastName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Author.Site)
        </td>

        <td>
            @Html.DisplayFor(model => model.Author.Site)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Content)
        </td>

        <td>
            @Html.DisplayFor(model => model.Content)
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) | 
       <!--Html.ActionLink("Back to List", "Index")-->
    @Html.ActionLink("Back to List", "ManageComments", "Posts", new { id = Model.PostID }, null)
</p>

@section css {
    <link href="@Url.Content("~/Content/Post/post_create.css")" rel="stylesheet" />
}