<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Shauli Blog</title>

    @{
        // check the BundleConfig.cs to see which files it refer
    } 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*for local css*@
    @RenderSection("css", required: false)
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-container">
            <div><h1 class="header-title"> Shauli's Blog</h1></div>
            <!-- weather -->
            <div style="width:100px;height:100px">
                <a href="http://www.accuweather.com/en/il/tel-aviv/215854/weather-forecast/215854" 
                   class="aw-widget-legal">
                </a>
                <div id="awcc1477324979360" 
                     class="aw-widget-current" 
                     data-locationkey="215854" 
                     data-unit="c" 
                     data-language="en-us" 
                     data-useip="false" 
                     data-uid="awcc1477324979360"></div>
                <script type="text/javascript" src="http://oap.accuweather.com/launch.js">
                </script>
            </div>
        </div>
    </header>

    <!-- Nav -->
    <nav>
        <!-- Navigation -->
        <ul>
            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Fan Club", "Index", "Fans")</li>
            <li>@Html.ActionLink("Manage Posts", "Index", "Posts")</li>
            <li>
                <div>
                    <a href="#" class="rss">
                        <img src=http://www.ashlylorenzana.com/wp-content/uploads/2013/12/12065637851779660844SRD_RSS_Logo.svg_.hi_.png
                             width="20" height="20">
                        Subscribe via. RSS
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Intro -->
    <section id="intro">
        <!-- Introduction -->

        <header>
            <h2> <b>Do you have questions for me?</b> </h2>
        </header>
        <p class="three-columns">Hello everyone and welcome to my blog. In this blog I post answers to anonymos questions readers send me. You can feel free to do so yourself. Enjoy! </p>
        <img src="~/images/intro_shauli.png" alt="Shauli" />
    </section>

    <!-- Content -->
    <div id="content">
        
        <div id="mainContent">
            @RenderBody()
        </div>

        <!-- aside -->
        <aside>
            <section>
                <header>
                    <h3>Categories</h3>
                </header>
                <ul>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Relationships</a></li>
                    <li><a href="#">Sport</a></li>
                </ul>
            </section>
            <section>
                <header>
                    <h3>Archives</h3>
                </header>
                <ul>
                    <li><a href="#">December 2015</a></li>
                    <li><a href="#">January 2016</a></li>
                    <li><a href="#">February 2016</a></li>
                    <li><a href="#">March 2016</a></li>
                </ul>
            </section>
        </aside>
    </div>

    <!-- Footer -->
    <footer>
        <div>
            <section id="about">
                <header>
                    <h3>Contact</h3>
                </header>
                <p><a href="mailto:Shauli@orShaul.com?Subject=Contact" target="_top">Send Me an Email</a></p>
            </section>
            <section id="blogroll">
                <header>
                    <h3>Readers recommend</h3>
                </header>
                <ul>
                    <li><i>"This blog is my favorite! Very helpful"</i></li>
                    <li><i>"My life has changed since I started ask questions"</i></li>
                </ul>
            </section>
            <section id="popular">
                <header>
                    <h3>My Favorite Blogs</h3>
                </header>
                <ul>
                    <li><a href="https://www.flickr.com/photos/shoogior/" target="_blank">Flickr</a></li>
                    <li><a href="http://www.ptitim.com/" target="_blank">Ptitim</a></li>
                    <li><a href="http://israblog.nana10.co.il/blogread.asp?blog=45911" target="_blank">Flash</a></li>
                </ul>
            </section>
        </div>
    </footer>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    

</body>
</html>
