<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Shauli Blog</title>

    @{
        // check the BundleConfig.cs to see which files it refer
    } 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*for local css*@
    @RenderSection("css", required: false)
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-container">
            <div><h1 class="header-title">Ha Blog Shel Shauli</h1></div>
            <!-- weather -->
            <div style="width:100px;height:100px">
                <a href="http://www.accuweather.com/en/il/tel-aviv/215854/weather-forecast/215854" 
                   class="aw-widget-legal">
                </a>
                <div id="awcc1477324979360" 
                     class="aw-widget-current" 
                     data-locationkey="215854" 
                     data-unit="c" 
                     data-language="en-us" 
                     data-useip="false" 
                     data-uid="awcc1477324979360"></div>
                <script type="text/javascript" src="http://oap.accuweather.com/launch.js">
                </script>
            </div>
        </div>
    </header>

    <!-- Nav -->
    <nav>
        <!-- Navigation -->
        <ul>
            <li class="selected">@Html.ActionLink("Blog", "Index", "Blog")</li>
            <li><a href="#">About</a></li>
            <li>@Html.ActionLink("Fan Club", "Index", "Fans")</li>
            <li>@Html.ActionLink("Manage Posts", "Index", "Posts")</li>
            <li>
                <div>
                    <a href="#" class="rss">
                        <img src=http://www.ashlylorenzana.com/wp-content/uploads/2013/12/12065637851779660844SRD_RSS_Logo.svg_.hi_.png
                             width="20" height="20">
                        Subscribe via. RSS
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Intro -->
    <section id="intro">
        <!-- Introduction -->

        <header>
            <h2>Do you have questions for me?</h2>
        </header>
        <p class="three-columns">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
        <img src="~/images/intro_shauli.png" alt="Shauli" />
    </section>

    <!-- Content -->
    <div id="content">
        
        <div id="mainContent">
            @RenderBody()
        </div>

        <!-- aside -->
        <aside>
            <section>
                <header>
                    <h3>Categories</h3>
                </header>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Sit amet consectetur</a></li>
                    <li><a href="#">Adipisicing elit sed</a></li>
                </ul>
            </section>
            <section>
                <header>
                    <h3>Archives</h3>
                </header>
                <ul>
                    <li><a href="#">December 2008</a></li>
                    <li><a href="#">January 2009</a></li>
                    <li><a href="#">February 2009</a></li>
                    <li><a href="#">March 2009</a></li>
                </ul>
            </section>
        </aside>
    </div>

    <!-- Footer -->
    <footer>
        <div>
            <section id="about">
                <header>
                    <h3>About</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
            </section>
            <section id="blogroll">
                <header>
                    <h3>Blogroll</h3>
                </header>
                <ul>
                    <li><a href="#">NETTUTS+</a></li>
                    <li><a href="#">FreelanceSwitch</a></li>
                </ul>
            </section>
            <section id="popular">
                <header>
                    <h3>Popular</h3>
                </header>
                <ul>
                    <li><a href="#">This is the title of a blog post</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li>
                </ul>
            </section>
        </div>
    </footer>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    

</body>
</html>
