
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div>@Html.Label("Username")</div>
            </td>
            <td>
            <div>@Html.TextBox("name")</div>
            </td>
        </tr>
        <tr>
            <td>
            <div>@Html.Label("Password")</div>
            </td>
            <td>
                <div>@Html.Password("password")</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>@Html.ValidationSummary(true)</div>
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>

}

