@model ShauliBlogMvc.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <hr />
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Author)
            </td>
            <td>
                @Html.DisplayFor(model => model.Author)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.SiteOfAuthor)
            </td>

            <td>
                @Html.DisplayFor(model => model.SiteOfAuthor)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PublishDate)
            </td>

            <td>
                @Html.DisplayFor(model => model.PublishDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Content)
            </td>

            <td>
                @Html.DisplayFor(model => model.Content)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Image)
            </td>
            <td>
                @{
                    string isImg = "No";

                    if (Model.Image != null)
                    {
                        isImg = "Yes";
                    }
                }

            @isImg
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Video)
            </td>
            <td>
                @{
                    string IsVideo = "No";
                    if (Model.Video != null)
                    {
                        IsVideo = "Yes";
                    }
                }

                @IsVideo
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Comments)
            </td>

            <td>
                @{
                    int NumOfComments = 0;
                    foreach (var item in Model.Comments)
                    {
                        NumOfComments++;
                    }
                }
                @NumOfComments
            </td>
        </tr>

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section css {
    <link href="@Url.Content("~/Content/Post/post_create.css")" rel="stylesheet" />
}

