@model IEnumerable<ShauliBlogMvc.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = Session["user"] as User;
}

@if (User != null)
{ 
   <h2>Welcome, @user.Name</h2> 

}

<h3>All Posts</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Manage Comments", "ManageComments", new { id = item.ID })
            
        </td>
    </tr>
}
</table>
<p>
    <input type="button" id="CreatePost" class="btn btn-info" value="Add New Post" onclick="location.href='@Url.Action("Create", "Posts")'" />

</p>

<input type="button" id="LogoutButton"  style="float: right;" class="btn btn-info" value="Logout" onclick="location.href='@Url.Action("Logout", "Login")'" />

@section css    {
    <link href="@Url.Content("~/Content/Post/post_create.css")" rel="stylesheet" />
}


