@model ShauliBlogMvc.Models.Fan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete " @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) " ? </h3>

<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <input type="button" id="back" class="btn btn-info" value="Back To List" onclick="location.href='@Url.Action("Index", "Fans")'" />
        </div>

    }
</div>

@section css    {
    <link href="@Url.Content("~/Content/Fan/fan_index.css")" rel="stylesheet" />
}
