@model ShauliBlogMvc.Models.Fan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Fan</h4>
    <hr />
    <table>
        <tr> 
            <td><b>@Html.DisplayNameFor(model => model.FirstName)</b></td>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.LastName)</b></td>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Sex)</b></td>
            <td>@Html.DisplayFor(model => model.Sex)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Seniority)</b></td>
            <td>@Html.DisplayFor(model => model.Seniority)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.BirthDate)</b></td>
            <td>@Html.DisplayFor(model => model.BirthDate)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Address)</b></td>
            <td>@Html.DisplayFor(model => model.Address)</td>
        </tr>
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section css    {
    <link href="@Url.Content("~/Content/Fan/fan_index.css")" rel="stylesheet" />
}
